<template name="trashList">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Artist</h1>
  {{/contentFor}}
    {{#ionView}}
      {{#ionContent}}
      <div class="list">
        <a class="item item-image artist-listpic" href="#">
          <img class src="http://lorempixel.com/400/200/sports/Dummy-Text/">
          <h1 class="artist-listname">Nine Inch Nails</h1>
        </a>
        <a class="item item-image artist-listpic" href="#">
          <img class src="http://lorempixel.com/400/200/sports/Dummy-Text/">
          <h1 class="artist-listname">Nine Inch Nails</h1>
        </a>
        <a class="item item-image artist-listpic" href="#">
          <img class src="http://lorempixel.com/400/200/sports/Dummy-Text/">
          <h1 class="artist-listname">Nine Inch Nails</h1>
        </a>
        <a class="item item-image artist-listpic" href="#">
          <img class src="http://lorempixel.com/400/200/sports/Dummy-Text/">
          <h1 class="artist-listname">Nine Inch Nails</h1>
        </a>
    </div>
      {{/ionContent}}
    {{/ionView}}

</template>
