<template name="tabs">
  {{#if isAndroid}}
  {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
    {{> ionTab title="Nearby" path="home" icon="ios-location"}}
    {{> ionTab title="Camera" path="se" iconOff="ios-camera" iconOn="ios-camera-outline"}}
    {{> ionTab title="Trashcan" path="trashList" iconOff="trash-a" iconOn="trash-b"}}

  {{/ionTabs}}
  {{else}}
  {{#ionTabs style="ios"}}
    {{> ionTab title="Nearby" path="home" iconOff="ios-location-outline" iconOn="ios-location"}}
    {{> ionTab title="Camera" path="search" iconOff="ios-camera" iconOn="ios-camera-outline"}}
    {{> ionTab title="Trashcan" path="trashlist" iconOff="trash-a" iconOn="trash-b"}}
  {{/ionTabs}}
  {{/if}}
</template>
