<template name="tabs">
  {{#if isAndroid}}
  {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
    {{> ionTab title="Nearby" path="home" icon="ios-location"}}
    {{> ionTab title="Trashcan" path="trashList" iconOff="trash-a" iconOn="trash-b"}}
  {{/ionTabs}}
  {{else}}
  {{#ionTabs style="ios"}}
    {{> ionTab title="Nearby" path="home" iconOff="ios-location-outline" iconOn="ios-location"}}
    {{> ionTab title="Alert Full Trash Can" path="trashlist" iconOff="alert-circled" iconOn="alert-circled"}}
  {{/ionTabs}}
  {{/if}}
</template>
